/* Font import */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Setting dimensions of body and background */

body 
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#35437a, #7486cf)
}

/* Styling the nav bar which gets me to my portfolio and project pages */

header
{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: centre;
    z-index: 10000;
}

/* Styling the logo in the top left corner (my initials MT) */

header .MT
{
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Styling the boxes with the links to my other pages */

header ul 
{
    display: flex;
    justify-content: center;
    align-items: centre;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
    align-items: centre;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color:#fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #35437a;
}

/* Styling the main look of the page */

section
{
    position: relative;
    width: 100%;
    height: vh;
    padding: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width:100%;
    height: 100px;
    background: linear-gradient(to top,#52295d,transparent);
    z-index: 1000;
}

/* Styling the images in the background of the page which move around (parallax scroll) */

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/*section img#coin
{
    mix-blend-mode: screen;
}*/

section img#charityjar
{
    z-index: 10;
}

/* Styling the text which tells you my title and tells you to scroll down on the page */

#text1
{
    position: absolute;
    right: -450px;
    color: #fff;
    white-space: nowrap;
    font-size: 2.5vw;
    z-index: 9;
}

#text2
{
    position: absolute;
    right: 200px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 5.5vw;
    z-index: 9;
}

#text3
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 1em;
    z-index: 9;
    transform: translateY(-100px);
}

#button
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #35437a;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

#button2
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    color: #000000;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

/* Styling the text */

.parallaxcontent
{
    position: relative;
    padding: 100px;
    background: #52295d;
}

.parallaxcontent h2
{
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
}

.parallaxcontent p
{
    font-size: 1em;
    color: #fff;
}
