
body{

    background-color: #e1e1e7;
    max-width: 100%;
    margin: auto;
}

h1{

    color: #94d7c8;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: 'Raleway';
    font-size: 60px;
}

h2{

    color:#454867;
    font-family: 'Raleway';
}


h3{
    color: #25273a;
    font-family: 'Raleway';
}

p{
font-family: 'Raleway';
color: #25273a;
text-align: justify;
}

.myWeek1{
  margin: auto;
  max-width: 600px;
  background-color: #e1e1e7;

  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: #e1e1e7;
}

/* Set the apperance of the class, chart */
.chart{
  background-color:rgb(255, 255, 255);
  width:400px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  border-color:#25273a;
}

 #myChart8{
    margin-bottom: 4px;
    width: 4px;
    margin-left: -120px;
  }
  #myChart9{
    margin-bottom: 4px;
    width: 4px;
    margin-left: -120px;
  }
  #myChart10{
    margin-bottom: 4px;
    width: 4px;
    margin-left: -120px;
  }
  #myChart11{
    margin-bottom: 4px;
    width: 4px;
    margin-left: -120px;
  }
  #myChart12{
    margin-bottom: 4px;
    width: 4px;
    margin-left: -120px;
  }
  #myChart13{
    margin-bottom: 4px;
    width: 4px;
    margin-left: -120px;
  }
  #myChart14{
    margin-bottom: 4px;
    width: 4px;
    margin-left: -120px;
  }
  #myChart15{
    margin-bottom: 4px;
    width: 4px;
    margin-left: -120px;
  }

  #myChart16{
    margin-bottom: 4px;
    width: 4px;
    margin-left: -120px;
}

/*Hyperlinks */
a:link {
  color: #c2c5d1;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color:#ffffff;
  background-color: transparent;
  text-decoration: underline;
}


.headerbox{
  position: absolute;
  top:2%;
  margin-left: 10%;
  margin-right: 0%;
  padding:2px 65px;
  width:85%;
  margin: 0;
  background-color: none; 
  height: auto;
  line-height: 0;

  }

.headerbox h1{ 
  font-size: 65px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 50px;
  }

.headerbox p{ 
    font-size: 22px;
    font-weight: normal;
    margin: 50px;
    color: #2e3047;
    white-space: nowrap;
}

.openingbody{
    margin-top:120px;
    text-align: center;
    align-content: center;
    justify-content: center;
	
}

.hcontainer {
    
    align-content: center;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	position: relative;
  	left: 120px;
  	width: 80%;
  	text-align: justify;
  	border: 3px solid #454867;
  	border-top: none;
  	border-left: none;
  	border-right: none;
	padding: 30px;
	right: 0px;
    
}

.bcontainer {
	align-content: center;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	position: relative;
  	left: 120px;
  	width: 80%;
  	text-align: justify;
	border: 3px hidden;
	padding: 30px;
	right: 0px;
}

#container1{
	
	align-content: center;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	position: relative;
  	left: 120px;
  	width: 80%;
  	text-align: center;
  	border: 3px solid #454867;
  	border-top: none;
  	border-left: none;
  	border-right: none;
	padding: 30px;
	right: 0px;
	
}

#container2{
	
	align-content: center;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	position: relative;
  	left: 120px;
  	width: 80%;
  	text-align: center;
  	border: 3px hidden;
  	border-top: none;
  	border-left: none;
  	border-right: none;
	padding: 30px;
	right: 0px;
	
}


#container3{
	
	align-content: center;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	position: relative;
  	left: 120px;
  	width: 80%;
  	text-align: center;
  	border: 3px hidden;
	padding: 30px;
	right: 0px;
	
}

#container4{

	align-content: center;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	position: relative;
  	left: 120px;
  	width: 80%;
  	text-align: center;
  	border: 3px hidden;
	padding: 30px;	
	right: 0px;
}

.box {
	
  box-sizing: border-box;
  background-color: none;
  width: auto;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  max-width: 500px;
	
}

/* inspired by Chris Brierley */
.sidebarnavigator {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 67px;
  height: 100%;
  background:  #707793;
  transition: 0.4s;
  overflow: hidden;
  color: #ffffff;
  font-family: 'Raleway';
}

.sidebarnavigator:hover,
.sidebarnavigator.active {
  width: 190px;
}

.sidebarnavigator ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sidebarnavigator ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.sidebarnavigator ul li:hover {
  background: #64b6a4;
  transition: 0.5s ease;
  color: rgb(255, 255, 255)
}

.sidebarnavigator ul li a {
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color:#d1d2e0;
}

.sidebarnavigator ul li a:hover {
  color: #3a3c5c;
}

.sidebarnavigator li a.active {
    background-color:#94d7c8;
    color: white;
    font-weight: 600;
}

.sidebarnavigator ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.sidebarnavigator ul li a .icon .fa {
  font-size: 24px;
}

.sidebarnavigator ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}


.chart {
    
  background-color: rgb(0, 255, 255);
  width: auto;
  min-width: auto;
  align-items: center;
  justify-content: center;
  position:static;
  margin-left: 10px;
  margin-top: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  flex-flow: row wrap;
  
}

.chart:hover {
    
      transform: scale(1.04, 1.04);
      transition: 0.6s;
      
    }
